{% extends "teacher_navbar.html" %}
{% block content %}
<div class="container text-center mt-3">
    <h2 class="text-center">Welcome Teacher</h2>
    <br><br>
    <div class="d-flex justify-content-center flex-wrap">
        <div class="card m-4" style="width: 18rem;"> <!-- Margin on the end -->
            <div class="card-body">
                <h5 class="card-title">Teacher Menu</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Manage Course</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Teacher Attendence</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    
    </div>
</div>
{% endblock %}